<div class="product">
  <form [formGroup]="formGroup"
        novalidate>

    <div *ngFor="let control of formModel">
      <label class="input">

        <span class="input-label" [innerHtml]="control.label"></span>
        <input class="input-control"
               [id]="control.id"
               [type]="control.inputType"
               [placeholder]="control.label"
               [readonly]="control.readOnly"
               formControlName="{{control.id}}">

        <app-product-input-error [control]="formGroup.get(control.id)"
                                 [validation]="control.validators"
                                 [message]="control.validationMessage"
        ></app-product-input-error>

      </label>
    </div>

    <div class="product__cover">
      <img [src]="cover">
    </div>

    <div class="btns">
      <button class="btn"
              type="button"
              [disabled]="!formGroup.valid || formSending"
              (click)="submit()"
      >{{productId ? 'Update' : 'Save'}}</button>

      <button *ngIf="productId"
              class="btn danger"
              type="button"
              [disabled]="!formGroup.valid || formSending"
              (click)="remove()">Remove
      </button>
    </div>


  </form>
</div>
