<div class="products">

  <div class="item filter">
    <select [(ngModel)]="filterCode">
      <option value="code">Code</option>
      <option value="name">Name</option>
      <option value="price">Price</option>
    </select>
    <input type="text" placeholder="Filter by {{filterCode}}" (keyup)="filterString($event)">
  </div>

  <div class="item header">
    <div class="cell"
         [class.desc]="sortDir === 1 && sortKey === 'code'"
         [class.asc]="sortDir === -1 && sortKey === 'code'">
      <span role="button" (click)="sort('code')">Code</span>
    </div>
    <div class="cell"
         [class.desc]="sortDir === 1 && sortKey === 'name'"
         [class.asc]="sortDir === -1 && sortKey === 'name'">
      <span role="button" (click)="sort('name')">Name</span>
    </div>
    <div class="price cell"
         [class.desc]="sortDir === 1 && sortKey === 'price'"
         [class.asc]="sortDir === -1 && sortKey === 'price'">
      <span role="button" (click)="sort('price')">Price</span>
    </div>
    <div class="date cell">Date</div>
  </div>
</div>

<div class="products list">

  <!--should be a component in future-->
  <div *ngFor="let product of productsFiltered"
       class="item"
       (click)="showProduct(product._id)">
    <div class="code cell">{{product.code}}</div>
    <div class="name cell">{{product.name}}</div>
    <div class="price cell">{{product.price.toLocaleString()}}</div>
    <div class="date cell">{{(product.updated_at || product.created_at) | moment }}</div>
  </div>

</div>
