@import "../../shared/scss/variables";

:host {
  //position: absolute;
  //display: block;
  //top: 0;

  display: grid;
  max-height: 100%;
  grid-template-rows: auto 1fr;

}

.products {
  display: grid;
  grid-template-columns: 100%;
  overflow: auto;

  .item {
    display: grid;
    grid-template-columns: 3fr 7fr 2fr 5fr;
    padding: 10px 0;
    border: 1px solid $gray-lighter;
    border-bottom: 0;
    border-top: 0;
    cursor: pointer;

    @media (max-width: $screen-xs) {
      grid-template-columns: 2fr 4fr 2fr;
    }

    &.filter,
    &.header {
      border-color: transparent;
      cursor: default;
    }


    &.header {
      border-bottom: 2px solid $btn-warning-border;
      padding-bottom: 20px;
    }

    .cell {
      padding: 0 20px;
    }
  }

  &.list {
    .item {
      border: 1px solid transparent;

      &:nth-child(even) {
        background-color: $gray-lighter;
      }

      &:hover {
        border-color: $brand-info;
        background-color: lighten($brand-info, 30%);
      }
    }
  }

}

.price {
  text-align: right;
}

.date {
  @media (max-width: $screen-xs) {
    display: none;
  }
}


