<div *ngIf="update"
     class="update">
  New version for application is avalable! <a href="/" >UPDATE</a>
</div>
<div class="page">
  <ul class="nav">
    <li><a [routerLink]="['']">Products</a></li>
    <li *ngIf="productName" class="product-name">
      <span>{{productName}}</span>
    </li>
    <li><a [routerLink]="['add']">Add New</a></li>
  </ul>

  <div class="content">
    <div class="content-wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ngx-loading-bar [color]="'#5bc0de'"></ngx-loading-bar>
