@import "shared/scss/variables";
@import "../styles";

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: $screen-md;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 0;

  @media (max-width: $screen-md) {
    padding: 0;
  }

  .nav,
  .content-wrap {
    padding: 20px;
    background-color: #fff;
  }

  .nav {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    list-style-type: none;
    border-bottom: 20px solid lighten($gray-base, 98%);

    li {
      float: left;
      display: inline-block;
      margin-right: 10px;

      & > * {
        @extend .btn;
        background-color: $brand-info;

      }

      * {
        color: #fff;
        text-decoration: none;
      }

      &:last-child {
        float: right;
        margin-right: 0;
      }

      &.product-name {
        span {
          font-size: 16px;
          font-weight: 600;
          color: inherit;
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }

  .content {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;

    &-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

    }
  }
}

.update {
  padding: 30px;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background: #66afe9;

}
