@import '~ngx-toastr/toastr';
@import "app/shared/scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $gray-darker;
  background-color: lighten($gray-base, 98%);
}

.btns {
  display: flex;
  justify-content: space-between;
}

[role="button"] {
  cursor: pointer;
  color: $brand-info;
  font-weight: 600;
  position: relative;

  $arrow-size: 5px;

  .desc &,
  .asc & {
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      right: -16px;
      top: 50%;
      margin-top: calc(5px / 2 * -1);
      border: $arrow-size solid $brand-info;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  .desc & {
    &:after {
      border-top: 0;
    }
  }

  .asc & {
    &:after {
      border-bottom: 0;
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: $brand-success;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  border: 0;

  &.danger {
    background-color: $brand-danger;
  }

  &:hover {
    opacity: .9;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $gray-light;
    color: #fff;
  }
}

select,
input {
  display: inline-block;
  border: 1px solid lighten($gray-light, 40%);
  padding: 8px;
  outline: none;
}

.input {
  display: block;
  padding-bottom: 20px;

  &-label {
    display: block;
    padding-bottom: 10px;
  }

  &-control {
    @extend input;
    width: 100%;

    &.ng-valid {
      border: 1px solid $brand-success;
    }

    &.ng-pristine {
      border: 1px solid $gray-light;
    }

    &.ng-invalid.ng-dirty {
      border: 1px solid $brand-danger;
    }

    &[readonly] {
      background-color: $gray-lighter;
      border-color: $gray-lighter;
    }
  }

  &-error {

    span {
      display: inline-block;
      padding: 2px 10px;
      background: $brand-danger;
      color: #fff;
    }
  }
}
